<app-header></app-header>


<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light  ">
  <div class="container">
      <a class="navbar-brand" href="#">EDUBEX</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Programs</a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Enterprise</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
            </ul>
        </li>
              
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Upcoming Events</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                  </ul>
              </li>
          </ul>
          <span class="seperator p-3 fs-1">|</span>
          
          <button type="button" class="btn btn-danger">Get Started</button>
      </div>
  </div>
</nav>
<!-- navbar -->


<!-- bg image  -->
<div style="position: relative; height: 500px; background-image: url('https://media.istockphoto.com/id/1245530946/photo/person-using-a-laptop-computer.jpg?b=1&s=170667a&w=0&k=20&c=gp6tbOCkgO2hR00VGoFsGr1-N0ABGGIgVd7S6ujVaVA='); background-size: cover; display: flex; align-items: center;">
  <div class="col-6"  style="position: absolute; left: 50px;">
    <h2>Career</h2>
    <p>Lorem ipsum is placeholder text commonly used graphic, print, and publishing industries for previewing layouts?</p>
  </div>
</div>





<!-- job openings --> 
<div class="border m-5 p-5">
  <div style="position: relative; display: flex; align-items: center; justify-content: center; height: 500px;">
    <img src="https:\/\/admin-edubex.ipixsolutions.net\/storage\/cms\/image\/7eG0ePz3Rn8X2cfUaMUIZBzmNiC2Jz9MoY0yc35S.png" alt="Your Image" style="position: absolute; right: 0; width: 50%; height: 100%; object-fit: cover; margin-right: 3cm;">
    <div style="position: absolute; left: 10%; top: 20%; width: 35%; padding: 20px; background-color: rgba(255, 255, 255, 0.8); margin-left: 3cm;">
      <p>The team at Edubex relentessly work towards the unique goal of remoulding education</p>
      <p>We would like to meet you if you are ready to share your competence and understanding in providing advanced skills training to people and organisations who strive for excellence in the digital world </p>
      <div class="intro-button mx-auto "><a class="btn btn-danger btn-xl" href="#!">Job Openings</a></div>
    </div>
  </div>
</div>
<!-- job openings  -->
      
  



<!-- why work with us -->
<div class="row gx-4 gx-lg-5 align-items-center my-5 border  m-5 p-5">
  <div class="col-lg-6"><img class="img-fluid rounded mb-4 mb-lg-0" src="https:\/\/admin-edubex.ipixsolutions.net\/storage\/cms\/image\/7eG0ePz3Rn8X2cfUaMUIZBzmNiC2Jz9MoY0yc35S.png" alt="..." /></div>
  <div class="col-lg-6">
      <h1 class="font-weight-light">Why work with us</h1>
      <p><br></p>
      <ul>
        <li>A world of opportunity to interact with people in various related fields,thus keeping you constantly updated with the evolving skills and tools.</li>
          <li>Become a technology transformation associate for some of the successful educational orgranisations by assisting them escalate into the world of digital education.</li>
          <li>Think out of the box,enjoy and feel comfortable with your work , collaborating with similar talents at Edubex.</li>
        </ul>
      
  </div>
</div>       
<!-- why work with us  -->



<!-- perks and benefits  -->
<div class="border  m-5 p-5" style="position: relative; display: flex; align-items: center; justify-content: center; height: 500px; background-image: url('https:\/\/admin-edubex.ipixsolutions.net\/storage\/cms\/image\/6p51DNjrv98ZO4EvBQnRvA8TBHteEQTsKzf8fPrC.png'); background-size: cover;">
  <div class="text-light text-start " style="position: relative; width: 70%; padding: 50px; text-align: center; ">
    <h2>Perks and benefits</h2>
    <p>Apart from a competitive salary,working at edubex entitles you to the best perks and benefits in the industry.</p>
  </div>
  <div class="border" style="position: absolute; bottom: -50px; right: 0; width: 30%; padding: 20px; background-color: rgba(255, 255, 255, 0.8); margin-right: 3cm; ">
    <p>It's not how much you do, what matters is how different you do things to provide an effective learning experience to the students. At the Edubex, we encourage creativity, team work and willingness to learn - the cornerstones of success.</p>
  </div>
</div>
<!-- perks and benefits  -->








<router-outlet></router-outlet>
<app-footer></app-footer>

