@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Aclonica&family=Alegreya+Sans+SC:wght@400;500&family=Julius+Sans+One&family=Monoton&family=Montserrat+Alternates&family=Nanum+Gothic&family=Playfair+Display:wght@600&family=Sawarabi+Gothic&family=Urbanist:wght@200&family=Varela+Round&display=swap');
body{
    font-family: 'Aboreto', cursive;
}